@import url('https://fonts.googleapis.com/css?family=Alex+Brush');

.logo {
  font-family: 'Alex Brush', cursive;
  text-transform: none;
}

.font38 {
  font-size: 38px;
}

.font64 {
  font-size: 64px;
}
